<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments new</title>
</head>
<body>
    <h1>Make a new comment</h1>
    <form action="/comments" method="post">
        <div>
            <label for="username">Enter username</label>
            <input type="text" name="username" id="username" placeholder="username">
        </div>
        <div>
            <label for="comment">Enter the comment</label>
            <br>
            <textarea name="comment" id="comment" cols="30" rows="5"></textarea>
        </div>
        
        <!-- <input type="text" name="comment" id="" placeholder="comment"> -->
        <button id="btn">Submit</button>
    </form>
    <!-- <script src="D:\My classes\Web Development\Web-Development\section-35\RESTDemo\index.js"></script> -->
</body>
    <a href="/comments">Back to index</a>
</html>