body {
    font-family: 'Open Sans', sans-serif;
}


h1 {
    text-align: center;
}


#container {
    background-color: #003049;
    width: 90%;
    height: 400px;
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
    /* main axis() and cross axis default is row for flex direction equal to main axis direction*/
    /* cross axis is the 90 deg opposite to the main axis */
    /* row- left to right, column-top to bottom by default*/
    flex-direction: row;
    justify-content:center;
    /* chnage the direction of the cross axis by setting it to wrap reverse */
    /* flex wrap happens along with the flex direction so think it with the flex direction */
    /* no wrap is the default */
    flex-wrap: wrap;
    /* this defines from where(of the cross axis) the items in the containter begin to flex */
    align-items:flex-start;
    /* specifies how flex lines are distributed along the cross axis in a flexbox container */
    /* this align content works only we have set the flex-wrap to wrap or wrap reverse */
    align-content:flex-start ;

}

#container div{
    width: 200px;
    height: 200px;
}

/* align-self , this is done for only one item in the container unlike the above properties */
 div:nth-of-type(2){
    align-self: center;
    
}