section{
    width: 500px;
    height: 500px;
    background-color: rgb(224, 204, 221);
}

#rgba{
    width: 50%;
    height: 50%;
    background-color: rgba(red, green, blue, 0.5);
}

#opacity{
    width: 50%;
    height: 50%;
    background-color: yellow;
    opacity: 0.5;
}