<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home Page <%= 4+5+1 %></h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio nam quae molestiae suscipit, quod sit eos. A quis alias pariatur tenetur fuga consequatur, cum, dolore sapiente, accusamus provident amet eius.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, excepturi consectetur? Distinctio illum ipsa non. Eligendi id qui sit error sunt maiores, nulla voluptas et! Explicabo a corrupti voluptatibus beatae.
    Sint, dolorem repellat tenetur ullam, consequuntur fuga maxime provident perferendis ipsam, soluta at! Quidem facilis harum corrupti officiis, eius minima sunt commodi nobis, provident quis repudiandae voluptatem inventore maiores culpa!
    Id laboriosam illum, quod dolore nesciunt aut debitis fugiat aspernatur corporis quis consectetur cupiditate autem, hic, voluptates rerum veniam commodi! Dignissimos provident vel ab, et dolorem consequuntur sequi quas mollitia?</p>
</body>
</html>