<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rand number</title>
</head>
<body>
    <h1>Your random number is : <%=num%></h1>
    <% if (num%2=== 0){%>
        <h2>This is an even number</h2>
    <%}else {%>
        <h2>This is an odd number</h2>
    <%}%>
    <!-- another way of embedding js -->
    <h3><%= num%2 === 0 ? 'EVEN' : "ODD"%></h3>
    <!-- otherwise add the logic to the js file and pass them to the parameters inside the render -->
    <h3>Is this a odd number: <%= isOdd%></h3>
</body>
</html>